@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --defaultPadding: 8px;
  --defaultMargin: 8px;
  --headerBackgroundColor: rgba(0, 0, 0, 0.85);
  --linkColor: lightblue;
}

body {
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: lightgray;
  min-width: 300px;
  margin-bottom: 100%;
  background: url(./images/bg.jpg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--headerBackgroundColor);
  color: lightgray;
  padding: var(--defaultPadding) 0;
}

header section.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section.bio .photo {
  width: 25%;
}

header section.bio .photo img {
  max-width: 80%;
  margin: var(--defaultMargin);
  border-radius: 50%;
  margin-right: var(--defaultPadding);
}

header section.bio .status {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Force background-color when viewing in Chrome dev tools for mobile devices*/
}

header section.bio .status h1 {
  font-size: 200%;
  letter-spacing: 5px;
}

header section.bio .status h1 .first {
  color: lightgray;
}

header section.bio .status h1 .last {
  color: white;
  text-transform: uppercase;
}

header section.bio .status .current div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header section.bio .status .current div h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
  font-size: 90%;
  min-width: 60px;
}

header section.bio .status .current div p {
  font-weight: bold;
  color: white;
}

header section.bio nav.desktopMenu ul {
  margin: var(--defaultMargin);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 125%;
}

header section.bio nav.desktopMenu ul li {
  white-space: nowrap;
  margin: 0 var(--defaultMargin);
}

header section.bio nav.desktopMenu ul li a {
  padding: 0 2%;
  text-decoration: none;
  color: var(--linkColor);
}

main {
  width: 90%;
  max-width: 1600px;
  margin: calc(var(--defaultMargin) * 3) auto;
}

main h2 {
  font-family: "Fira Sans", sans-serif;
}

main p,
main address,
main a {
  line-height: 1.5em;
  margin: calc(var(--defaultMargin) * 2) 0;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: calc(var(--defaultMargin) * 3);
}

main section > div {
  min-width: 35%;
  padding-right: var(--defaultPadding);
  margin-right: var(--defaultMargin);
}

@media screen and (min-width: 1028px) {
  header section.bio nav.desktopMenu {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header section.bio nav.desktopMenu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 200%;
  }
  header section.bio nav.desktopMenu ul li a:hover {
    border-bottom: 5px solid var(--linkColor);
  }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section > div {
    min-width: 20%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */